.chat-background {
  background-color: #262626;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.chat-input {
  background-color: transparent;
  border-radius: 5px;
  border: solid 1px rgb(75, 75, 75);
  margin: 20px;
  height: 35px;
  padding: 0px 10px 0px 10px;
}

.chat-log {
  margin: 20px;
}