.container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 80px;
}

.title {
  float: left;
}

.title p {
  font-size: 25pt;
  padding-left: 3px;
}

.title h1 {
  color: #FF9059;
  font-family: 'Open Sans', sans-serif;
  font-size: 60pt;
  margin-top: -10px;
}

.pane {
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: grab;
  border-radius: 15px;
  box-shadow: 0px 0px 10px -1px black;
  overflow: hidden;
}

.pane-title {
  background-color: red;
  height: 30px;
}

.pane-body {
  background-color: blue;
  width: 400px;
  height: 400px;
}

.pane-footer {
  background-color: green;
}