.title {
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}

.title p {
    font-size: 25pt;
    padding-left: 3px;
}

.title h1 {
    color: #FF9059;
    font-family: 'Open Sans', sans-serif;
    font-size: 60pt;
    margin-top: -10px;
}

.social {
    float: right;
    margin-top: 50px;
    margin-right: 5%;
}