.container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 80px;
}

.title {
    float: left;
}

.title p {
    font-size: 25pt;
    padding-left: 3px;
}

.title h1 {
    color: #FF9059;
    font-family: 'Open Sans', sans-serif;
    font-size: 60pt;
    margin-top: -10px;
}

.github {
    float:right;
}

.github svg {
    fill: #EFEFEF;
    transition: 0.3s;
}

.github:hover svg {
    fill: #FF9059;
}

.github-mark {
    width: 32px;
}

.github-logo {
    width: 110px;
    margin-left: 10px;
}