@import url("fonts.css");
@import url("animations.css");

/* Debugging: */
/* * {
  border: 1px solid var(--border-color);
} */

:root {
  /* Shared variables */
  --border-width: 1px;
  --page-width: 1000px;
  --page-margin-x: 25px;
  --page-margin-y: 50px;

  /* Light theme variables */
  --bg-color: #ffffff;
  --bg-color-alt: #f2f1ef;
  --fg-color: #010000;
  --fg-color-alt: #404040;
  --fg-color-link:#0037a5;
  --fg-color-code: #c78b00;
  --fg-color-alert: #660000ff;
  --border-color: #010000;
  --highlight-color: #f2f1ef;
}

[data-theme="dark"] {
  --bg-color: #181a1c;
  --bg-color-alt:#2d2e2f;
  --fg-color: #ffffff;
  --fg-color-alt: #dedede;
  --fg-color-link: #1f69ff;
  --fg-color-code: #fada8e;
  --fg-color-alert: #ff4d4dff;
  --border-color:#afafaf;
  --highlight-color: #2c2c2c;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--bg-color);
  color: var(--fg-color);
}

a {
  color: var(--fg-color);
  text-decoration: none;
}

ol, ul {
  list-style-position: inside;
}
