@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.font-regular {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.font-bold {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
}

.font-italic {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: italic;
}

.font-bold-italic {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: italic;
}

/* Set a default font for all elements */
* {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
}
