@import url("core.css");

main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {

  h1 {
    font-size: 1.5rem;
  }

  p {
    color: var(--fg-color-alt);
    font-size: 0.9rem;
  }

  margin-bottom: 75px;

}

.nav {
  width: 300px;
}

.nav-list {
  list-style-type: none;
}

.nav-item {
  background-color: var(--bg-color-alt);
  transition: background-color 0.25s;
  padding: 0.5rem 0 0.5rem 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.nav-item:hover {
  background-color: var(--bg-color);
  transition: background-color 0.25s;
}

@media screen and (min-width: 800px) {

  .content {
    flex-direction: row;
  }

  .title {
    margin-bottom: 0;
    margin-right: 100px;
  }

}
