@import url("core.css");

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: var(--page-margin-y) var(--page-margin-x);
}

p, li {
  color: var(--fg-color-alt);
  font-size: 0.92rem;
}

a {
  color: var(--fg-color-link);
}

.header {
  border-bottom: solid var(--border-width) var(--border-color);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.back {
  color: var(--fg-color-alt);
  font-size: 0.9rem;
}

.title {
  font-size: 1.5rem;
  transition: font-size 0.2s ease-in-out;
}

.content p, ul, ol {
  margin: 0.6rem 0;
}

.content li {
  margin: 0.3rem 0;
}

.highlight {
  border: solid var(--border-width) var(--border-color);
  padding: 0.8rem 1rem;
  margin: 1rem 0;
}

.highlight p {
  margin: 0;
}

.horizontal-margin {
  margin: 0.5rem 0rem;
}

.code {
  color: var(--fg-color-code);
  background-color: var(--highlight-color);
  padding: 0.1rem 0.4rem;
}

@media screen and (min-width: 1050px) {

  main {
    max-width: var(--page-width);
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    font-size: 1.75rem;
    transition: font-size 0.2s ease-in-out;
  }

}
