@import url("core.css");

main {
  display: flex;
  justify-content: center;
  margin-top: var(--page-margin);
  margin-bottom: var(--page-margin);
  margin-left: var(--page-margin);
  margin-right: var(--page-margin);
}

.title {

  h1 {
    font-size: 1.75rem;
  }

  p {
    color: var(--fg-color-alt);
    font-size: 0.9rem;
  }

  border-bottom: solid var(--border-width) var(--border-color);
  padding-bottom: 10px;
  margin-bottom: 20px;

}

.content > p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.highlight {
  background-color: var(--highlight-color);
  padding: 10px 20px 10px 20px;
  margin: 20px 0 20px 0;
}

ul.mods {
  list-style-type: none;
}

@media screen and (min-width: 1050px) {

  main {
    max-width: var(--page-width);
    margin-left: auto;
    margin-right: auto;
  }

}
