<div class="terminal-background" 
    (click)="setFocusOnPrompt()">

    <p class="terminal-hide">hide</p>

    <div class="terminal-text">
        <span *ngFor="let output of outputs">
            <span [innerHTML]="output"></span>
        </span>
        <app-prompt
            (keyEnter)="processCommand($event)">
        </app-prompt>

        <!-- <div *ngFor="let output of outputs">
            <span class="terminal-user">{{output.username}}@mcfarlane</span>
            <span>:</span>
            <span class="terminal-directory">{{output.directory}}</span>
            <span>$&nbsp;{{output.command}}</span>
        </div>
        <p>
            <span class="terminal-user">{{username}}@mcfarlane</span>
            <span>:</span>
            <span class="terminal-directory">{{directory}}</span>
            <span>$&nbsp;</span>
            <app-prompt
                (keyEnter)="processCommand($event)">
            </app-prompt>
        </p> -->

    </div>

</div>